@import "reset";
@import "mixins";
@import "variables";

body {
    background-color: $background-color;
    color: $main-color;
    padding: 0 5vw;   
    @include fullscreen-flex;
    box-shadow: inset 0px 0px 250px black;
    min-height: 350px;
    min-width: 350px;

    button {
        border: none;
        cursor: pointer;
        background: transparent;
        color: $main-color;
        z-index: 10;
        transition: color 0.5s ease;
            &:hover {
                color: $accent-color;
            }
            &:active {
                color: $accent-color;
            }
            &:focus {
                color: $accent-color;
            }
    }
}

#background-png {
    @include fullscreen-flex;
    opacity: 0.06;
    background: url(background.jpg) center / cover no-repeat;
}

header { 
    padding: 20px;
    margin-top: 5vh;
    text-align: center;
    @include flex-center($direction: column);

    @media screen and (max-width: 722px) {
        
    }

    h1 {
        font-size: 2.8em;
        margin-bottom: 20px;
        text-transform: uppercase;

        @media screen and (max-width: 690px) {
            font-size: 2em;
        }
    }

    p {
        font-size: 1.4em;

        @media screen and (max-width: 690px) {
            font-size: 1em;
        }
    }
}

main {
    position: relative;
    @include flex-center;
    height: 50vh;
    width: 100%;
    margin-top: 6vh;
    overflow: hidden;

    @media screen and (max-width: 690px) {
        margin-top: 0;
    }

    button {
        position: absolute;
        z-index: 10;
    }

    #previous {
        order: 1;
        left: 20px;

        @media screen and (max-width: 690px) {
            left: 0;
        }
    }

    #next {
        order: 3;
        right: 20px;
        
        @media screen and (max-width: 690px) {
            right: 0;
        }
    }

    #previous,
    #next {
        font-size: 4em;

        @media screen and (max-width: 690px) {
            font-size: 3em;
        }
    }

    #display {
        position: absolute;
        width: 100%;
        @include flex-center;
        justify-content: space-between;

        ul {                
            @include flex-center($j-content: flex-start);
            padding: 15px;
            width: 2000%;
            font-weight: 300;
            position: absolute;
            transition: margin-left 1s ease;        
            
            li {
                position: relative;
                padding: 20px 0;
                width: 20%;
                font-size: 1.2em;
                text-align: center;
                @include flex-center($direction: column);
                
                @media screen and (max-width: 690px) {
                    font-size: 1em;
                }

                p {
                    width: 50%;
                    margin: 0 auto;
                }

                div {
                    margin-top: 15px;
                }
            }
        }
    }    
}

#refresh {
    text-decoration: underline;
    font-size: 0.75em;
}